
<html lang="en">
    <%- include('./partials/head.ejs') %> 

    
    <body>
      
        <%- include('./partials/nav.ejs') %> 

       <div class="about content">
           <h2>About Us</h2>
           <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi explicabo soluta aspernatur quam eius assumenda expedita illo rem libero nihil hic, necessitatibus earum inventore! Earum?</p>
           <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi explicabo soluta aspernatur quam eius assumenda expedita illo rem libero nihil hic, necessitatibus earum inventore! Earum?</p>
           <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi explicabo soluta aspernatur quam eius assumenda expedita illo rem libero nihil hic, necessitatibus earum inventore! Earum?</p>
       </div>
       <%- include('./partials/footer.ejs') %> 

    </body>
    </html>